<ion-view view-title="Clima Dias Cancún Quintana Roo">
  <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="updateData()">
  </ion-refresher>
  
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.dt}}">
        <div>
        <img width="100px" height="100px"  ng-src="http://openweathermap.org/img/w/{{chat.weather[0].icon}}.png">
        
      </div>  

 

        <h2><b>Cancún</b></h2>
        <h2>Temperatura del Dia {{chat.temp.day}}</h2>
        <h2>{{chat.dt*1000 | date: ''}}</h2>
        <h2>Humedad {{chat.humidity}}%</h2>
        <h2>Tiempo: {{chat.weather[0].description}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
